<div class="card m-lg-3 m-md-1 ml-lg-5 mr-lg-5 ml-md-5 mr-md-5">
  <div class="card-header card-primary">
    <h4>Free Trial</h4>
  </div>
  <div class="card-block">
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
      </div>
      <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 m-2 text-center">
        <p> You can try Free Trial for 7 days and explore all the Site Search features. </p>
        <div class="text-center">
          <button type="button"  class="btn btn-primary" (click)="trial()"><i class="fa fa-check"></i>  Confirm</button>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
      </div>
    </div>
  </div>
</div>
