<div class="container container-fluid">
	<div class="row no-gutters">
		<div class="col">
			<div class="banner-container">
				<img src="assets/images/tech_banner.jpg" class="img-width-max img-responsive">
				<div class="banner-caption">
					<h1>Add Svolve Site Search to your website Today!</h1>
					<h5 class="hidden-sm-down">Search solution that makes your website content searchable</h5>
					<a @fadeBottom routerLink="/signup" class="btn btn-round btn-success"> TRY 7 DAYS FREE<i class="fa fa-chevron-right"></i> </a>
					<p @fadeBottom>No credit card required!.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="features p-3">
		<div class="row p-4">
			<div class="col">
				<div class="row">
					<div class="col text-center">
						<h3> Svolve Site Search for Websites </h3>
						<p>Enhance your user’s internal search experience.</p>
						<p>Help visitors find information easily and connect them to the right content.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
						<div class="card card-noborder">
							<div class="card-header">
								<i class="fa fa-6 fa-lightbulb-o"></i>
							</div>
							<div class="card-block">
								<h5>Make Content Discoverable</h5>
								<p> Put your potential customers where they want to be on your website </p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
						<div class="card card-noborder">
							<div class="card-header">
								<i class="fa fa-6 fa-level-down"></i>
							</div>
							<div class="card-block">
								<h5>Reduce Fallout</h5>
								<p> Reduce friction with a better search experience </p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
						<div class="card card-noborder">
							<div class="card-header">
								<i class="fa fa-6 fa-line-chart"></i>
							</div>
							<div class="card-block">
								<h5>Increase Conversion</h5>
								<p> Access to right information is a key to convert your visitors to customers </p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row" @fadeLeft>
				<div class="col-lg-2 col-md-1 col-sm-12 col-xs-12"></div>
				<div class="col-lg-8 col-md-10 col-sm-12 col-xs-12">
					<div class="row">
						<div class="col-8">
							<h3> Blazing fast </h3>
							<p>Using some of the latest technologies, Site Search provides quick and relevant responses. Deliver better results with better technology.</p>
						</div>
						<div class="col-4 text-center">
							<i class=" rounded fa fa-bolt fa-6"></i>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-md-1 col-sm-12 col-xs-12"></div>
		</div>
		<div class="row" @fadeRight>
				<div class="col-lg-2 col-md-1 col-sm-12 col-xs-12"></div>
				<div class="col-lg-8 col-md-10 col-sm-12 col-xs-12">
					<div class="row">
						<div class="col-4 text-center">
							<i class=" rounded fa fa-cogs fa-6"></i>
						</div>
						<div class="col-8">
							<h3> Easy setup </h3>
							<p>Integrate SiteSearch to your website with a simple and easy setup within minutes. <a routerLink="/tutorials">Read More</a>.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-md-1 col-sm-12 col-xs-12"></div>
		</div>
		<div class="row" @fadeLeft>
				<div class="col-lg-2 col-md-1 col-sm-12 col-xs-12"></div>
				<div class="col-lg-8 col-md-10 col-sm-12 col-xs-12">
					<div class="row">
						<div class="col-8">
							<h3> Typo corrections </h3>
							<p>SiteSearch offers intelligent spellcheck and provides suggestions for a better user experience.</p>
						</div>
						<div class="col-4 text-center">
							<i class=" rounded fa fa-check fa-6"></i>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-md-1 col-sm-12 col-xs-12"></div>
		</div>
		<div class="row" @fadeRight>
				<div class="col-lg-2 col-md-1 col-sm-12 col-xs-12"></div>
				<div class="col-lg-8 col-md-10 col-sm-12 col-xs-12">
					<div class="row">
						<div class="col-4 text-center">
							<i class=" rounded fa fa-bar-chart fa-6"></i>
						</div>
						<div class="col-8">
							<h3> Search Analytics </h3>
							<p>Sitesearch provides with real time data which can provide you with valuable insights on your business performance.</p>
						</div>

					</div>
				</div>
				<div class="col-lg-2 col-md-1 col-sm-12 col-xs-12"></div>
		</div>
		<div class="row" @fadeLeft>
				<div class="col-lg-2 col-md-1 col-sm-12 col-xs-12"></div>
				<div class="col-lg-8 col-md-10 col-sm-12 col-xs-12">
					<div class="row">

						<div class="col-8">
							<h3> Email Support </h3>
							<p>At Svolve we build products which are meant to be self-serviceable but if you do need support we are happy to help. Our email response is within 2 Hrs.</p>
						</div>
						<div class="col-4 text-center">
							<i class=" rounded fa fa-phone fa-6"></i>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-md-1 col-sm-12 col-xs-12"></div>
		</div>
	</div>
</div>
