<div class="row no-gutters">
	<div class="col">
		<div class="banner-container">
			<img src="assets/images/beach.jpeg" class="img-width-max img-responsive">
			<div class="banner-caption">
				<h1>Powerful site search solution for websites</h1>
			</div>
		</div>
	</div>
</div>
<div class="row m-4 no-gutters">
		<div class="col-sm-4 col-xs-12 text-center p-3">
			<div class="fa fa-question-circle-o fa-3"></div>
			<h3> Why SiteSearch ? </h3>
			<p>Very simple and inuitive. Costs reasonable. Easy to integrate. High performance indexing</p>

		</div>
		<div class="col-sm-4 col-xs-12 text-center p-3">
			<div class="fa fa-cogs fa-3"></div>
			<h3> Easy Setup </h3>
			<p> A site search could be setup within 5 minutes using SiteSearch. For more details, check <a routerLink="/tutorials/gettingstarted">Getting Started</a> . </p>
		</div>
		<div class="col-sm-4 col-xs-12 text-center p-3">
			<div class="fa fa-bolt fa-3"></div>
			<h3> Blazing fast </h3>
			<p> Using latest open source technologies and cloud based scaling, SiteSearch provides you blazing fast responses for your site search requirements. </p>
		</div>
</div>
