build/
sitesearch-archives/
sitesearch-mw/node_modules/
sitesearch-cron/node_modules/
sitesearch-nutch/build/
sitesearch-oozie/build/
**/opensearch*.json
**/sitesearch*.json
.ftpconfig
*/nohup.out
sitesearch-web/dist
sitesearch-api/sitesearch-api.zip
