<div class="row">
  <div class="col">
  </div>
  <div class="col-md-10 col-12">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <form #searchform="ngForm" (ngSubmit)="search(searchform.value)">
          <div class="form-group">
            <input placeholder="Enter search text here..." class="search-tag form-control" type="text" name="tag" id="tag" #tag="ngModel" [(ngModel)]="searchform.tag" required/>
            <div *ngIf="tag?.errors && (tag.dirty || tag.touched)">
              <p class="validation-error" [hidden]="!tag.errors.required">Search Tag is required</p>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row search-results" *ngIf="response">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card card-document card-document-peace">
          <div class="card-header">
            <h5>Results : {{response.total}}</h5>
          </div>
          <div class="card-block">
            <div *ngFor="let doc of response.results" class="mt-4">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <a href="{{doc.url}}">{{doc.title}}</a>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <p class="p-link">{{doc.url}}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <p class="p-content" [innerHtml]="doc.highlight"></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
  </div>
</div>
