<div class="text-center pt-3"><h2>Privacy Policy</h2></div>
<div Markdown class="p-5 p-xs-2">

  Last updated: May 2, 2018

  Our Privacy Policy explains how we collect, use, disclose, and protect information that applies to our Service, and your choices about the collection and use of your information.

  What information we collect and why

  We collect the following types of information about you:
  Information from website browsers
  If you're just browsing the website, we collect the same basic information that most websites collect. We use common internet technologies, such as cookies and web server logs. This is stuff we collect from everybody, whether they have an account or not.

  The information we collect about all visitors to our website includes the visitor’s browser type, language preference, referring site, additional websites requested, and the date and time of each visitor request. We also collect potentially personally-identifying information like Internet Protocol (IP) addresses.

  Why do we collect this?
  We collect this information to better understand how our website visitors use Svolve, and to monitor and protect the security of the website.
  Information from users with accounts
  We ask for certain information such as your username, first and last name, company name, address, phone number and e-mail address when you register for a Svolve account, or if you correspond with us. We may also retain any messages you send through the Service, and may collect information you provide in your content you post to the Service. We use this information to operate, maintain, and provide to you the features and functionality of the Service.

  Why we collect this?
  •	We need your User Personal Information to create your account, and to provide the services you request.
  •	We will use your email address to communicate with you, if you've said that's okay, and only for the reasons you’ve said that’s okay.
  •	We limit our use of your User Personal Information to the purposes listed in this Privacy Statement. If we need to use your User Personal Information for other purposes, we will ask your permission first. You can always see what information we have, how we're using it, and what permissions you have given us in your user profile.



  Our use of cookies and tracking
  Analytics information
  We use Google Analytics as a third party tracking service, but we don’t use it to track you individually or collect your User Personal Information. We use Google Analytics to collect information about how our website performs and how our users, in general, navigate through and use Svolve. This helps us evaluate our users' use of Svolve; compile statistical reports on activity; and improve our content and website performance.

  Google Analytics gathers certain simple, non-personally identifying information over time, such as your IP address, browser type, internet service provider, referring and exit pages, time stamp, and similar data about your use of Svolve. We do not link this information to any of your personal information such as your user name.

  Svolve will not, nor will we allow any third party to, use the Google Analytics tool to track our users individually; collect any User Personal Information other than IP address; or correlate your IP address with your identity. Google provides further information about its own privacy practices and offers a browser add-on to opt out of Google Analytics tracking.

  Certain pages on our site may set other third party cookies. For example, we may embed content, such as videos, from another site that sets a cookie. While we try to minimize these third party cookies, we can’t always control what cookies this third party content sets.

  Tracking
  "Do Not Track" is a privacy preference you can set in your browser if you do not want online services to collect and share certain kinds of information about your online activity from third party tracking services. We do not track your online browsing activity on other online services over time and we do not permit third-party services to track your activity on our site beyond our basic Google Analytics tracking, which you may opt out of here. Because we do not share this kind of data with third party services or permit this kind of third party data collection on GitHub for any of our users, and we do not track our users on third-party websites ourselves, we do not need to respond differently to an individual browser's Do Not Track setting.

  If you are interested in turning on your browser’s privacy and Do Not Track settings, the Do Not Track website has browser-specific instructions.

  Cookies information
  Cookies are small text files which are downloaded to your computer, tablet or mobile phone when you visit a website or application. The website or application may retrieve these cookies from your web browser (eg Internet Explorer, Mozilla Firefox or Google Chrome) each time you visit, so they can recognise you, remember your preferences and provide you with a more secure online experience.

  Generally, cookies are very useful and are a common method used by almost every website you visit because they help to make your online experience as smooth as possible. For security reasons, many websites will not function at all without the use of cookies (or other similar technologies, such as "web beacons" or "tags").

  Cookies generally do not hold any information to identify an individual person, but are instead used to identify a browser on an individual machine.

  If you prefer, you can restrict, block or delete cookies by changing your browser settings but that may mean that the website won't work properly

  For more information about cookies and their impact on you and your browsing visit www.aboutcookies.org

  Sharing of your information

  We will not rent or sell your information into third parties outside Svolve and its group companies (including any parent, subsidiaries and affiliates) without your consent, except as noted below:

  We may share your information with third-party business partners for the purpose of providing the Service to you. Those business partners will be given limited access to your information as is reasonably necessary to deliver the Service, and we will require that such third parties comply with this Privacy Policy.

  We may buy or sell/divest/transfer the Svolve (including any shares in the Svolve), or any combination of its products, services, assets and/or businesses. Your information such as customer names and email addresses, Your Content and other user information related to the Service may be among the items sold or otherwise transferred in these types of transactions. We may also sell, assign or otherwise transfer such information in the course of corporate divestitures, mergers, acquisitions, bankruptcies, dissolutions, reorganizations, liquidations, similar transactions or proceedings involving all or a portion of the Svolve.

  Svolve will disclose your information where required to do so by law or subpoena or if we reasonably believe that such action is necessary to (a) comply with the law and the reasonable requests of law enforcement; (b) to enforce our Terms of Service or to protect the security or integrity of our Service; and/or (c) to exercise or protect the rights, property, or personal safety of Svolve, our Users or others.

  We may share certain service type information, including information obtained through tools such as cookies, log files, device identifiers and clear gifs (such as anonymous usage data, referring/exit pages and URLs, platform types, number of clicks, etc.): (i) with our third-party business partners for the purposes described in the section above on How We Collect and Use Information. We may also aggregate or otherwise strip data of all personally identifying characteristics and may share that aggregated, anonymized data with third parties.

  The Svolve Privacy Policy does not apply to, and we cannot control the activities of, third-party advertisers. Please consult the respective privacy policies of such advertisers or contact such advertisers for more information.

  How we secure your information

  Svolve takes all measures reasonably necessary to protect User Personal Information from unauthorized access, alteration, or destruction; maintain data accuracy; and help ensure the appropriate use of User Personal Information. We follow generally accepted industry standards to protect the personal information submitted to us, both during transmission and once we receive it.

  In the event that any information under our control is compromised as a result of a breach of security, Svolve will take reasonable steps to investigate the situation and where appropriate, notify those individuals whose information may have been compromised and take other steps, in accordance with any applicable laws and regulations.

  Your choices about your information

  You may update your account information and email-communication preferences at any time by logging into your account and changing your profile settings. You can also stop receiving promotional email communications from us by clicking on the “unsubscribe link” provided in such communications. We make every effort to promptly process all unsubscribe requests. As noted above, you may not opt out of Service-related communications (e.g., account verification, purchase and billing confirmations and reminders, changes/updates to features of the Service, technical and security notices). If you have any questions about reviewing or modifying your account information, you can contact us directly at support@svolve.com.

  Please refer to your browser’s technical information for instructions on how to delete and disable cookies, and other tracking/recording tools. Depending on your type of device, it may not be possible to delete or disable tracking mechanisms on your mobile device. Note that disabling cookies and/or other tracking tools prevents Svolve or its business partners from tracking your browser’s activities in relation to the Service, and for use in targeted advertising activities by third parties. However, doing so may disable many of the features available through the Service. If you have any questions about opting out of the collection of cookies and other tracking/recording tools, you can contact us directly at support@svolve.com.

  Svolve will retain User Personal Information for as long as your account is active or as needed to provide you services. Following termination or deactivation of your User account, Svolve may retain your profile information and Your Content for a commercially reasonable time for backup, archival, or audit purposes.

  Children’s privacy

  Svolve does not knowingly collect or solicit any information from anyone under the age of 13 or knowingly allow such persons to register as Users. The Service and its content are not directed at children under the age of 13. In the event that we learn that we have collected personal information from a child under age 13 without verification of parental consent, we will delete that information as quickly as possible. If you believe that we might have any information from or about a child under 13, please contact us at support@svolve.com.

  Links to other websites and services

  We are not responsible for the practices employed by websites or services linked to or from the Service, including the information or content contained therein. Please remember that when you use a link to go from the Service to another website, our Privacy Policy does not apply to third-party websites or services. Your browsing and interaction on any third-party website or service, including those that have a link or advertisement on our website, are subject to that third party’s own rules and policies. In addition, you agree that we are not responsible and we do not control over any third-parties that you authorize to access Your Content. If you are using a third party website or service (like Facebook) and you allow such a third-party access to Your Content you do so at your own risk. This Privacy Policy does not apply to information we collect by other means (including offline) or from other sources other than through the Service.

  How to contact us
  If you have any questions or concerns about the way Svolve is handling your User Personal Information, please let us know immediately. We want to help. You may email us at support@svolve.com with the subject line “Privacy Concerns” and we will respond within 15 days at the latest

  Changes to our privacy policy
  Svolve may modify or update this Privacy Policy from time to time to reflect the changes in our business and practices, and so you should review this page periodically. When we change the policy in a material manner we will let you know and update the ‘last modified’ date at the top of this page.

</div>
