<div class="card m-lg-3 m-md-1 ml-lg-5 mr-lg-5 ml-md-5 mr-md-5 ">
  <div class="card-header card-primary">
    <h4>Add Website</h4>
  </div>
  <div class="card-block">
    <div class="row" *ngIf="error">
      <div class="col-12">
        <div class="alert alert-danger"><i class="fa fa-warning"></i> {{error}}</div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <form #newsiteform="ngForm" (ngSubmit)="addsite(newsiteform.value)">
          <div class="form-group">
            <label>Site Name</label>
            <input class="form-control" type="text" name="name" #name="ngModel" [(ngModel)]="newsiteform.name" required/>
            <div *ngIf="name?.errors && (name.dirty || name.touched)">
              <p class="validation-error" [hidden]="!name.errors.required">Name is required</p>
            </div>
          </div>
          <div class="form-group">
            <label>Description</label>
            <input class="form-control" type="text" #description="ngModel" name="description" [(ngModel)]="newsiteform.description" required/>
            <div *ngIf="description?.errors && (description.dirty || description.touched)">
              <p class="validation-error" [hidden]="!description.errors.required">Description is required</p>
            </div>
          </div>
          <div class="form-group">
            <label>URL(s)</label>
            <textarea placeholder="Line seperated urls" class="form-control" name="sitedomains" #sitedomains="ngModel" [(ngModel)]="newsiteform.sitedomains" required url></textarea>
            <div *ngIf="sitedomains?.errors && (sitedomains.dirty || sitedomains.touched)">
              <p class="validation-error" [hidden]="!sitedomains.errors.required">URL is required</p>
              <p class="validation-error" *ngIf="!sitedomains.errors.required" [hidden]="!sitedomains.errors.url">URL is invalid</p>
            </div>
          </div>
          <div class="form-group">
              <a routerLink="/home/list" class="btn btn-danger"><i class="fa fa-remove"></i> Cancel </a>
              <button type="submit" class="btn btn-primary" [disabled]="!newsiteform.form.valid"><i *ngIf="isAddInProgress" class="fa fa-spinner fa-spin"></i> Submit </button>
          </div>
        </form>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
      </div>
    </div>
