<div class="row">
  <div class="col">
  </div>
  <div class="col-md-10 col-12">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-12">
        <div class="card card-document card-document-peace">
          <div class="card-header">
            <h5>Documents by language</h5>
          </div>
          <div class="card-block">
            <table class="table">
              <tr>
                <th> Language </th>
                <td> Count </td>
              </tr>
              <tr *ngFor="let lang of analytics?.pagesByLang; index as i">
                <th> {{lang.key}} </th>
                <td>{{lang.doc_count}}</td>
              </tr>
            </table>
          </div>
        </div>
        <div class="card card-document card-document-peace">
          <div class="card-header">
            <h5>Documents by Host</h5>
          </div>
          <div class="card-block">
            <table class="table">
              <tr>
                <th> Host </th>
                <td> Count </td>
              </tr>
              <tr *ngFor="let lang of analytics?.pagesByHost; index as i">
                <th> {{lang.key}} </th>
                <td>{{lang.doc_count}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6  col-12">
        <div class="card card-document card-document-primary">
          <div class="card-header">
            <h5>Search Request with No results</h5>
          </div>
          <div class="card-block">
            <table class="table">
              <tr>
                <th> Date </th>
                <td> Count </td>
              </tr>
              <tr *ngFor="let item of analytics?.zeroResults?.items; index as i">
                <th> {{item.query}} </th>
                <td>{{item.count}}</td>
              </tr>
            </table>
          </div>
        </div>
        <div class="card card-document card-document-primary">
          <div class="card-header">
            <h5>Search Request</h5>
          </div>
          <div class="card-block">
            <table class="table">
              <tr>
                <th> Date </th>
                <td> Count </td>
              </tr>
              <tr *ngFor="let item of analytics?.searchRequests?.items; index as i">
                <th> {{item.timestamp}} </th>
                <td>{{item.count}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
  </div>
</div>
