<div class="card m-lg-3 m-md-1 ml-lg-5 mr-lg-5 ml-md-5 mr-md-5 ">
  <div class="card-header card-primary">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <h5>Payments</h5>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
        <a class="card-header-right-icon" routerLinkActive="active" [routerLink]="['/payments/list']" ><i class="fa fa-list"> </i>  List</a>
        <a class="card-header-right-icon" routerLinkActive="active" [routerLink]="['/payments/new']"><i class="fa fa-plus"> </i> New</a>
      </div>
    </div>
  </div>
  <div class="card-block">
    <div class="row">
      <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
      </div>
      <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
        <router-outlet></router-outlet>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
      </div>
    </div>
  </div>
