<div class="card m-sm-4 m-1">
  <div class="card-header card-primary">
    <h4>Welcome {{user?.email}}</h4>
  </div>
  <div class="card-block p-1 p-md-2">
    <div class="row no-gutters">
      <div class="col-md-1 col-12">
      </div>
      <div class="col-md-10 col-12">
        <div class="row no-gutters" >
          <div class="col-md-6 col-12 p-md-2" >
            <home-accountstatus [user]="user"></home-accountstatus>
          </div>
          <div class="col-md-6 col-12 p-md-2" *ngIf="customer && customer?.subscription">
            <div class="card card-document card-document-peace">
              <div class="card-header">
                <h5>Your Plan - {{customer.subscription.plan_name}}</h5>
              </div>
              <div class="card-block">
                <p><strong>Next Charge Date : </strong>{{customer.subscription.end_date | date:'mediumDate'}}</p>
                <p><strong>Number :</strong> ***{{customer.card.last4}}, <strong>Expires :</strong> {{customer.card.exp_month}}/{{customer.card.exp_year}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row no-gutters" >
          <div class="col" >
            <div class="card">
              <div class="card-header card-success">
                <div class="row">
                  <div class="col">
                    <h5>WEBSITES</h5>
                  </div>
                  <div class="col text-right">
                    <a routerLink="/home/new"><i class="fa fa-plus"></i>  Add</a>
                  </div>
                </div>
              </div>
              <div class="card-block p-1 p-md-2 p-lg-4">
                <div class="row">
                  <ng-container *ngFor="let site of sites| async;let i = index">
                  <div class="col-lg-1 col-md-12 col-sm-12 col-xs-12"></div>
                  <div class="col-lg-4 col-md-6 col-sm-12 col-12 mt-2 mt-md-0 mb-4" >
                      <div class="card card-document card-document-primary site-summary" (click)="select(site)">
                        <div class="card-header">
                          <h5>{{site.name}}</h5>
                        </div>
                        <div class="card-block">
                          <div><strong>Last Crawl : </strong>{{site.lastCrawlTime /1000 |date:'mediumDate'}}</div>
                          <div>Pages : {{ site.pageCount | async}}</div>
                          <div><p class="footnote">Created : {{ site.created /1000 |date:'mediumDate' }}</p></div>
                        </div>
                      </div>
                  </div>
                  <div class="col-lg-1 col-md-12 col-sm-12 col-xs-12"></div>
                </ng-container>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-1 col-12">
      </div>
    </div>
  </div>
