<div class="card m-sm-4 m-1">
  <div class="card-header card-primary">
    <h4>Welcome {{user?.email}}</h4>
  </div>
  <div class="card-block p-1 p-md-2">
    <div class="row no-gutters">
      <div class="col-md-12 col-12">
        <div class="row" *ngIf="error">
          <div class="col-12">
            <div class="alert alert-danger"><i class="fa fa-warning"></i> {{error}}</div>
          </div>
        </div>
        <div class="row" *ngIf="trialWarning">
          <div class="col-12">
            <div class="alert alert-warning"><i class="fa fa-warning"></i> Your trial will expire soon. Kindly activate to avoid suspending your account. </div>
          </div>
        </div>
        <div class="row no-gutters" >
          <div class="col-md-6 col-12 p-md-2">
            <ng-container *ngIf="sites.length > 0">
              <home-accountstatus [preferences]="preferences"></home-accountstatus>
            </ng-container>
            <ng-container *ngIf="sites.length == 0">
              <div class="card card-document card-document-third">
                <div class="card-header">
                  <h5>Account Status -
                    <span>{{preferences?.status}}</span>
                  </h5>
                </div>
                <div class="card-block">
                  <p>Thank you of using svolve site search. Click <a href="javascript:void(0);" (click)="addWebsite()"> here</a> to add website.</p>
                </div>
              </div>

            </ng-container>
          </div>
          <div class="col-md-6 col-12 p-md-2" *ngIf="preferences && preferences?.card">
            <div class="card card-document card-document-peace">
              <div class="card-header">
                <h5>Activated on {{ preferences.activationDate |  date:'mediumDate' }}</h5>
              </div>
              <div class="card-block">
                <p><strong>Charges till date : </strong>${{quote?.charge}} ( Documents : {{quote?.count}}, Requests : {{quote?.requests}} )</p>
                <p><strong>Next Charge Date : </strong>{{ preferences.nextChargeDate | date:'mediumDate'}}   ( <a routerLink="/home/payments">History</a> )</p>
                <p><strong>Number :</strong> ***{{preferences.card.last4}}, <strong>Expires :</strong> {{preferences.card.exp_month}}/{{preferences.card.exp_year}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row no-gutters" *ngIf="preferences.status == 'ACTIVE' || preferences.status == 'TRIAL'">
          <div class="col" >
            <div class="card">
              <div class="card-header card-primary">
                <div class="row">
                  <div class="col">
                    <h5>WEBSITES</h5>
                  </div>
                  <div class="col text-right">
                    <a href="javascript:void(0);" (click)="addWebsite()"><i class="fa fa-plus"></i>  Add</a>
                  </div>
                </div>
              </div>
              <div class="card-block p-1 p-md-2 p-lg-4">
                <div class="text-center" *ngIf="sites.length == 0">
                  <a class="btn btn-round btn-success" href="javascript:void(0);" (click)="addWebsite()"><i class="fa fa-plus"></i> Add a website.</a>
                </div>
                <div class="row">
                  <ng-container *ngFor="let site of sites;let i = index">
                  <div class="col-lg-1 col-md-12 col-sm-12 col-xs-12"></div>
                  <div class="col-lg-4 col-md-6 col-sm-12 col-12 mt-2 mt-md-0 mb-4" >
                      <div class="card card-document card-document-primary site-summary" (click)="select(site)">
                        <div class="card-header">
                          <h5>{{site.name}}</h5>
                        </div>
                        <div class="card-block">
                          <div><strong>Last Crawl : </strong>{{site.lastCrawlTime |date:'mediumDate'}}</div>
                          <div>Pages : {{ site.pageCount | async}}</div>
                          <div><p class="footnote">Created : {{ site.created |date:'mediumDate' }}</p></div>
                        </div>
                      </div>
                  </div>
                  <div class="col-lg-1 col-md-12 col-sm-12 col-xs-12"></div>
                </ng-container>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
