<div class="row">
  <div class="col">
  </div>
  <div class="col-md-10 col-12">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-12">
        <div class="card card-document card-document-peace">
          <div class="card-header">
            <h5>Details</h5>
          </div>
          <div class="card-block">
            <table class="table">
              <tr>
                <th> Token </th>
                <td>{{site?.$key}}</td>
              </tr>
              <tr>
                <th> Pages </th>
                <td>{{site?.pageCount}}</td>
              </tr>
            </table>
            <div class="mb-2" >
              <a href="javascript:void(false);" (click)="showAddUrlsForm = true"> Add Url(s)</a>
            </div>
            <form #websiteform="ngForm" (ngSubmit)="addUrls(websiteform.value)" [hidden]="!showAddUrlsForm">
              <div class="form-group">
                <div class="alert alert-danger" role="alert" *ngIf="showAddUrlsErrorMessage">
                  Url(s) should begin with http:// or https:// Eg: https://www.google.com !!
                </div>
                <div class="alert alert-success" role="alert" *ngIf="showAddUrlSuccessMessage">
                  Url(s) added successfully!
                </div>
              </div>
              <div class="form-group">
                <textarea placeholder="Line seperated urls" class="form-control" name="urls" #sitedomains="ngModel" [(ngModel)]="websiteform.urls" required url></textarea>
                <div *ngIf="urls?.errors && (urls.dirty || urls.touched)">
                  <p class="validation-error" [hidden]="!urls.errors.required">URL is required</p>
                  <p class="validation-error" *ngIf="!urls.errors.required" [hidden]="!urls.errors.url">URL is invalid</p>
                </div>
              </div>
              <div class="form-group">
                  <a href="javascript:void(false);" (click)="showAddUrlsForm = false" class="btn btn-danger"><i class="fa fa-remove"></i> Cancel </a>
                  <button type="submit" class="btn btn-primary" [disabled]="!websiteform.form.valid && isAddInProgress"><i *ngIf="isAddInProgress" class="fa fa-spinner fa-spin"></i> Submit </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6  col-12">
        <div class="card card-document card-document-primary">
          <div class="card-header">
            <h5>Actions</h5>
          </div>
          <div class="card-block">
            <div class="row">
              <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12 mt-2">
                <button (click)="crawl(site)" [disabled]="!site?.pageCount > 0" type="button" class="btn btn-block btn-success btn-round">
                  <i class="fa fa-angle-double-right"></i> ReCrawl
                </button>
              </div>
              <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12 mt-2">
                <button (click)="delete(site)" type="button" class="btn btn-block btn-danger btn-round">
                  <i class="fa fa-trash"></i> Delete
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
  </div>
</div>

<div class="row">
  <div class="col">
  </div>
  <div class="col-md-10 col-12">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card card-document card-document-third mt-lg-5 mt-md-5">
          <div class="card-header">
            <h5>Crawls</h5>
          </div>
          <div class="card-block">
            <table class="table">
              <thead>
                <tr>
                  <th>Created</th>
                  <th>Started</th>
                  <th>Ended</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let crawl of crawlhist; index as i">
                  <td>{{ crawl.created |date:'medium' }}</td>
                  <td>{{ crawl.startTime |date:'medium' }}</td>
                  <td>{{ crawl.endTime |date:'medium' }}</td>
                  <td>{{ crawl.status }}</td>
                </tr>
                <tr *ngFor="let crawl of crawls; index as i">
                  <td>{{ crawl.created |date:'medium' }}</td>
                  <td>{{ crawl.startTime |date:'medium' }}</td>
                  <td>{{ crawl.endTime |date:'medium' }}</td>
                  <td>{{ crawl.status }}</td>
                </tr>
                <tr *ngFor="let recrawl of recrawls; index as i">
                  <td>{{ recrawl.created |date:'medium' }}</td>
                  <td>{{ recrawl.startTime |date:'medium' }}</td>
                  <td>{{ recrawl.endTime |date:'medium' }}</td>
                  <td>{{ recrawl.status }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
  </div>
</div>

<div class="row">
  <div class="col">
  </div>
  <div class="col-md-10 col-12">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card card-document card-document-third mt-lg-5 mt-md-5">
          <div class="card-header">
            <h5>Pages</h5>
          </div>
          <div class="card-block">
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Url</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let page of pages; index as i">
                  <td>{{i+fromItem+1}}</td>
                  <td>{{page._source.url}}</td>
                </tr>
                <tr>
                  <td><a href="javascript:void();" (click)="getPrevPages()" [hidden]="fromItem == 0" ><span class="fa fa-chevron-left" ></span>  Prev </a></td>
                  <td><a href="javascript:void();" (click)="getNextPages()"  [hidden] = "fromItem+size >= totalPages">  Next <span class="fa fa-chevron-right"></span></a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
  </div>
</div>
