<h4> Getting Started </h4>
<p> Follow the below steps to get started to index your website...</p>
<ul class="getting-started">
  <li>
    <h5>
      <span class="badge badge-pill badge-primary">1</span>Account Creation
    </h5>
    <p> If you have not created an account yet with Svolve, please <a routerLink="/signup">Sign Up</a> for an account now.</p>
  </li>
  <li>
    <h5>
      <span class="badge badge-pill badge-primary">2</span>Add a website
    </h5>
    <p> <a routerLink="/login">Login</a> to the account created in Step 1. Add a website to your account. Every website has its own token/id. This will be a unique identifier which will be used to search/query your website/domain.</p>
  </li>
  <li>
    <h5>
      <span class="badge badge-pill badge-primary">3</span>Submit the site for Crawling
    </h5>
    <p> Once you add your website and when you are ready, submit your website for crawling by the Svolve crawler.</p>
  </li>
  <li>
    <h5>
      <span class="badge badge-pill badge-primary">4</span>Integrate your website search with Svolve - Site search
    </h5>
    <p> The integration of websites with sitesearch has been made very simple. A simple HTTP call is all that is required. <a routerLink="/tutorials/integration">Read More.</a></p>
  </li>
</ul>
