<div class="card m-lg-3 m-md-1 ml-lg-5 mr-lg-5 ml-md-5 mr-md-5 ">
  <div class="card-header card-primary">
    <h4>Checkout</h4>
  </div>
  <div class="card-block">
    <div class="row mt-4">
      <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
      </div>
      <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
        <div class="row" *ngIf="error">
          <div class="col-12">
            <div class="alert alert-danger"><i class="fa fa-warning"></i> {{error}}</div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="card card-document card-document-peace">
              <div class="card-header">
                <h5>Payment Details</h5>
              </div>
              <div class="card-block">
                <div class="mt-2">

                        <div class="mt-2">
                          <stripepayment actionLabel="Purchase Plan" (tokenReceived)="chargeByNewCard($event)" (invalidCard)="handleError(plan)"></stripepayment>
                        </div>
                      
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div id="plandetails" class="card card-document card-document-secondary">
              <div class="card-header">
                <h5>Pricing</h5>
              </div>
              <div class="card-block">
                <pricing-details></pricing-details>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
