<header>
  <div class="row header-bar no-gutters">
    <div class="col">
      <div class="row no-gutters">
        <div class="col-lg-3 col-md-12">
          <button (click)="_toggleSidebar(sidebar)" class="menu-button d-inline-block btn btn-default"><i class="fa fa-bars"></i></button>
          <a class="nav-link d-inline-block" routerLink="/"><img class="logo-image d-inline-block" src="assets/images/svolve-cube.png" /> <span class="logo-text">Svolve</span></a>
        </div>
        <div class="col-9 hidden-md-down text-right">
          <a class="nav-link d-inline-block" *ngIf="(userSvc.user | async)?.loginstatus" (click)="sidebar.close()" routerLink="/home/list" routerLinkActive="active"><i class="fa fa-home"></i>  Home</a>
          <a class="nav-link d-inline-block" routerLink="/tutorials" routerLinkActive="active" (click)="sidebar.close()"><i class="fa fa-file-text-o"></i>  Documentation</a>
          <a class="nav-link d-inline-block" routerLink="/pricing" routerLinkActive="active" (click)="sidebar.close()"><i class="fa fa-bar-chart"></i>  Pricing</a>
          <a class="nav-link d-inline-block" *ngIf="!(userSvc.user | async)?.loginstatus" routerLink="/signup" routerLinkActive="active" (click)="sidebar.close()"><i class="fa fa-user-plus"></i>  Sign Up</a>
          <a class="nav-link d-inline-block" *ngIf="(userSvc.user | async)?.loginstatus" (click)="logout();sidebar.close()"><i class="fa fa-sign-out"></i>  Logout</a>
          <a class="nav-link d-inline-block" *ngIf="!(userSvc.user | async)?.loginstatus" routerLink="/login" (click)="sidebar.close()" routerLinkActive="active"><i class="fa fa-sign-in"></i>  Login</a>
        </div>
      </div>
    </div>
  </div>
  <ng-sidebar-container>

    <!-- A sidebar -->
    <ng-sidebar #sidebar [(opened)]="_opened">
      <ul>
        <li *ngIf="(userSvc.user | async)?.loginstatus">
          <a class="nav-link d-inline-block" (click)="sidebar.close()"
            routerLink="/home/list" routerLinkActive="active">
            <i class="fa fa-home"></i>  Home
          </a>
      </li>
        <li>
          <a class="nav-link d-inline-block" (click)="sidebar.close()" routerLink="/tutorials" routerLinkActive="active">
            <i class="fa fa-file-text-o"></i>  Documentation
          </a>
        </li>
        <li>
          <a class="nav-link d-inline-block" (click)="sidebar.close()" routerLink="/pricing" routerLinkActive="active">
            <i class="fa fa-bar-chart"></i>  Pricing
          </a>
        </li>
        <li *ngIf="!(userSvc.user | async)?.loginstatus">
          <a class="nav-link d-inline-block" (click)="sidebar.close()" routerLink="/signup" routerLinkActive="active">
            <i class="fa fa-user-plus"></i>  Sign Up
          </a>
        </li>
        <li *ngIf="(userSvc.user | async)?.loginstatus">
          <a class="nav-link d-inline-block"  (click)="logout();sidebar.close()">
            <i class="fa fa-sign-out"></i>  Logout
          </a>
        </li>
        <li *ngIf="!(userSvc.user | async)?.loginstatus" (click)="sidebar.close()">
          <a class="nav-link d-inline-block"  routerLink="/login" routerLinkActive="active">
            <i class="fa fa-sign-in"></i>  Login
          </a>
        </li>
      </ul>

    </ng-sidebar>

  </ng-sidebar-container>
</header>
