nav {
	padding-left : 2rem;
	padding-right : 2rem;
}
header {
	a {
		margin-right: 2rem;
	}

	a {
		&.active {
			color : #0275d8 ! important;
			font-weight : bold;
		}
	}
}

.header-bar {
	line-height: 2.2rem;
	background-color: #fff;

	.menu-button {
		background-color: #fff;
	}

	button:focus {
		outline-color: #fff;
	}

}

ul {
  font-size: 18px;
  line-height: 2rem;
  font-weight: 400;
  padding-top: 1rem;
  list-style: none;
  padding-left : 1rem;

	a:focus {
		outline-color:#fff;
	}
}

.logo-image {
	height:30px;
}
