<div Markdown>
    The pricing for sitesearch has made very simple, affordable to meet every customer's demands.

    #### Basic Tier
      There is basic tier that every customer will be when activated. Basic tier costs $25 and it includes below limits
        * 2K documents that can be indexed
        * 100K requests / month
        * Weekly automated crawl

    #### Rates beyond basic tier
      After your account supasses limits of basic tier you will be priced on usage. The pricing is described as below
        * $10 / every 1K documents
        * $10 / every 100K requests
        * $10 / every 2 manual recrawls

    ##### Example :
        If your account's usage is as below
          * 5K documents indexed
          * 320K search requests

        Then the calculated price is ** $77 ** as explained below
          * Base price = $25
          * ( 5K - 2K )/1000 * 10 = $30
          * ( 320K -100K )/100K * 10 = $22


</div>
