    <div class="card plan-card">
      <div class="card-block">
        <div class="card-title">
          <h4 class="text-center p-2">Standard plan </h4>
          <h5 class="text-center price"> $25/mo</h5>
        </div>
        <div class="card-text">
          <p class="plan-card-description card-sub-header">Includes</p>
          <ul class="plan-card-features">
            <li>
              2K documents/pages per month.
            </li>
            <li>
              100K queries/search per month.
            </li>
            <li>
              PDF Indexing
            </li>
            <li>
              Search Analytics
            </li>
            <li>
              Email support within 2 hrs
            </li>
            <li>
              PDF Indexing
            </li>
            <li>
              Automatic re-crawl every week.
            </li>
          </ul>
        </div>
        <div class="card-text">
          <p class="plan-card-description card-sub-header">Incremental charges:</p>
          <ul class="plan-card-features">
            <li>
              $1/100 additional documents
            </li>
            <li>
              $10/20K additional search requests
            </li>
            <li>
              $5/On demand crawl
            </li>
          </ul>
        </div>
        <div class="card-text">
          <p class="plan-card-description card-sub-header">Limits:</p>
          <ul class="plan-card-features">
            <li>
              Maximum depth to discover Urls : 5
            </li>
            <li>
              Max document size : 500Kb
            </li>
          </ul>
        </div>
      </div>
    </div>
