<div class="card m-lg-3 m-md-1 ml-lg-5 mr-lg-5 ml-md-5 mr-md-5">
  <div class="card-header card-primary">
    <h4>About us</h4>
  </div>
  <div class="card-block">
    <div class="row">
      <div class="row m-5">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <div class="text-center">
            <i class="fa fa-user fa-5"></i>
            <div>
              <h4>Customer Focussed</h4>
            </div>
            <div>
              <p>Our cutomer support team is made up of the smartest and kindest problem solvers around.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <div class="text-center">
            <i class="fa fa-gears fa-5"></i>
            <div>
              <h4>Constantly Innovating</h4>
            </div>
            <p>We have invested in making our product better, faster, and smarter everyday.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <div class="text-center">
            <i class="fa fa-graduation-cap fa-5"></i>
            <div>
              <h4>Integrity Matters</h4>
            </div>
            <p>Our products and our people will always deliver the quantity that we have promised.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="text-center col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="d-inline-block mr-4">
            <i class="fa fa-search fa-5"></i>
          </div>
          <div class="d-inline-block align-middle">
            <p>Svolve sitesearch helps digital marketer to get their content more discoverable and improve conversion.</p>
          </div>
        </div>
        <div class="text-center col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="d-inline-block mr-4">
            <i class="fa fa-street-view fa-5"></i>
          </div>
          <div class="d-inline-block align-middle">
            <p>We are located at 125 kirkbride rd, #5, New Jersey - 08043.</p>
          </div>
        </div>
    </div>
  </div>
</div>
