<footer>
  <div class="container container-fluid">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <p>Site Search</p>
      <p><span class="fa fa-envelope-o fa-2"></span><a href="mailto:support@svolve.com"> support@svolve.com</a></p>
      <!--p><span class="fa fa-twitter fa-2"></span><span> @svolve</span></p-->
      <p><span class="fa fa-facebook fa-2"></span><a href="https://www.facebook.com/SvolveSiteSearch/"> Svolve site search</a></p>

    </div>
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 text-right hidden-xs-down">
      <nav>
        <div class="d-inline-block text-left align-top">
          <p><a routerLink="/terms" routerLinkActive="active">Terms and Conditions</a></p>
          <p><a routerLink="/privacy" routerLinkActive="active">Privacy Policy</a></p>
          <p><a routerLink="/tutorials" routerLinkActive="active">Documentation</a></p>
        </div>
        <div class="d-inline-block text-left align-top">

          <p><a routerLink="/aboutus" routerLinkActive="active">About Us</a></p>
          <p><a routerLink="/contactus" routerLinkActive="active">Contact Us</a></p>
        </div>
        <div class="d-inline-block text-left align-top">
          <p><a routerLink="/signup">Sign Up</a></p>
          <p><a routerLink="/login" routerLinkActive="active">Login</a></p>
        </div>
      </nav>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 hidden-sm-up">
      <nav>
        <p><a routerLink="/terms" routerLinkActive="active">Terms and Conditions</a></p>
        <p><a routerLink="/privacy" routerLinkActive="active">Privacy Policy</a></p>
        <p><a routerLink="/tutorials" routerLinkActive="active">Documentation</a></p>
        <p><a routerLink="/signup" routerLinkActive="active">Sign Up</a></p>
        <p><a routerLink="/login" routerLinkActive="active">Login</a></p>
        <p><a routerLink="/aboutus" routerLinkActive="active">About us</a></p>
        <p><a routerLink="/contactus" routerLinkActive="active">Contact us</a></p>
      </nav>
    </div>
  </div>
</div>
</footer>
