<footer>
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <p>SOLVE - Site Search</p>
      <p><span class="fa fa-phone fa-2"></span><span> (546) 879 1788</span></p>
      <p><span class="fa fa-envelope-o fa-2"></span><span> support@svolve.com</span></p>
      <p><span class="fa fa-twitter fa-2"></span><span> @svolve</span></p>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 text-right hidden-xs-down">
      <nav>
        <p><a href="">Terms and Conditions</a><a href="">Documentation</a><a href="">Sign Up</a><a href="">Login</a></p>
      </nav>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 hidden-sm-up">
      <nav>
        <p><a href="">Terms and Conditions</a></p>
        <p><a href="">Documentation</a></p>
        <p><a href="">Sign Up</a></p>
        <p><a href="">Login</a></p>
      </nav>
    </div>
  </div>
</footer>
