<div class="container container-fluid">
	<div class="row no-gutters">
		<div class="col">
			<div class="banner-container">
				<img src="assets/images/bg_light.jpg" class="img-width-max img-responsive">
				<div class="banner-caption">
					<h1>Migrate from Google Site Search to Svolve Site Search!</h1>
					<p class="hidden-sm-down">Enjoy everything you loved about Google Site Search, with additional features</p>
					<a @fadeBottom routerLink="/signup" class="btn btn-round btn-primary"> TRY 7 DAYS FREE!! <i class="fa fa-chevron-right"></i> </a>
					<p @fadeBottom>No credit card required!.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="features p-3">
		<div class="row" @fadeBottom>
			<div class="col-lg-2 col-md-1 col-sm-12 col-xs-12"></div>
			<div class="col-lg-8 col-md-10 col-sm-12 col-xs-12">
				<h2>Quick and Easy Install</h2>
				<p>Svolve Site Search is a powerful and feature complete alternative to Google Site Search.</p>
				<ol>
					<li><strong>Create your free account:</strong> We offer a 7 day free trial so that you can see what you can expect when you subscribe to our services. You can sign up <a routerLink="/signup">here</a></li>
					<li><strong>Submit your Website:</strong> Under “My Account” submit your website, sit back and relax - let our crawler do the job. Depending on the website size it may take 2 - 4 hours for our crawler to gather content and index them</li>
					<li><strong>Preview:</strong> Once the content is ready, you can simulate the search experience through our preview feature. All Good!!!!!</li>
					<li><strong>Integrate:</strong> A simple HTTP call is all that is required to integrate Svolve Site Search into your website. <a routerLink="/tutorials">Read More</a></li>
				</ol>

				Ready To Migrate ?Sign Up for your Free Trial now.
				<p class="text-center mt-3"><a @fadeBottom routerLink="/signup" class="btn btn-round btn-primary"> SIGN UP <i class="fa fa-chevron-right"></i> </a></p>
			</div>
			<div class="col-lg-2 col-md-1 col-sm-12 col-xs-12"></div>
		</div>
	</div>
</div>
