<div class="card m-sm-4 m-1">
  <div class="card-header card-primary">
    <h4><i class="fa fa-bar-chart"></i>  Pricing</h4>
  </div>
  <div class="card-block">
    <div class="row">
      <div class="col-1"></div>
      <div class="col-8 p-3">
        <pricing-details></pricing-details>
      </div>
      <div class="col-1"></div>
    </div>
    <div class="row">
      <div class="col-1"></div>
      <div class="col-8  p-3">
        <a routerLink="/checkout" class="btn btn-success btn-round"><i class="fa fa-check"></i> Subscribe</a>
      </div>
      <div class="col-1"></div>
    </div>
  </div>
</div>
