<div class="card m-sm-4 m-1">
  <div class="card-header card-primary">
    <h4><i class="fa fa-bar-chart"></i>  Pricing</h4>
  </div>
  <div class="card-block">
    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm12 col-xs-12 m-lg-5">
        <pricing-details></pricing-details>
      </div>
      <div class="col-lg-5 col-md-5 col-sm12 col-xs-12 m-lg-5 p-4" Markdown>
        ##### Example :
        If your account's usage is as below
          * 5K documents indexed
          * 320K search requests

        Then the calculated price is ** $165 ** as explained below
          * Base price = $25
          * ( 5K - 2K )/1000 * 10 = $30
          * ( 320K -100K )/20K * 10 = $110
      </div>
    </div>
  </div>
</div>
